@charset "UTF-8";

/*===========================
  shop category css
===========================*/
#container{
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0 100px;
}
.sc-list{
  width: 1000px;
  margin: 50px auto 100px;
}
.sc-list li{
  position: relative;
  float: left;
  width: calc(25% - 18px);
  margin-right: 24px;
  margin-bottom: 24px;
}
.sc-list li .simg{
  width: 100%;
  height: 152px;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: #fff;
}
.sc-list li img{
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.sc-list li img.emoji{
  top: 0;
  -webkit-transform: unset;
  -ms-transform: unset;
  transform: unset;
}
.sc-list li img.sunlive-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 20px;
  -webkit-transform: unset;
  transform: unset;
  z-index: 1;
}
.sc-list li a{
  display: block;
}
.sc-list li:nth-child(4n){
  margin-right: 0;
}

.sc-list .simg img{
  width: 100%;
  height: auto;
}
.sc-list .sdtl .skind{
  font-size: 14px;
  margin-top: 10px;
  color: #d44554;
}
.sc-list .sdtl .sttl{
  font-size: 22px;
  color: #000;
  margin: 5px 0 10px;
}
.sc-list .sdtl table{
  font-size: 14px;
  line-height: 1.2;
}
.sc-list .sdtl table th,.sc-list .sdtl table td{
  padding-bottom: 5px;
}
.sc-list .sdtl table th{
  min-width: 67px;
  padding-right: 5px;
  color: #999;
}
.sc-list .sdtl table td{
  font-weight: bold;
  color: #000;
}
.sc-list .sdtl table td a{
  color: #000;
}
.nomatch{
  padding: 50px 0;
  text-align: center;
}

/* medical 20181030
===========================*/
.md-list{
  padding-top: 30px;
}
.md-list li{
  margin-bottom: 60px;
  border-radius: 10px;
  background-color: #2cb2a9;
  padding: 30px;
}
.md-list li.cl-pink{
  background-color: #ea70a1;
}
.md-list li .sttl{
  font-size: 22px;
  line-height: 1.3;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}
.md-list li .skind{
  text-align: right;
  line-height: 1.5;
  padding: 5px 0 3px;
}
.md-list li .simg{
  float: left;
  width: 32%;
  margin-right: 2%;
}
.md-list li .simg img{
  width: 100%;
  height: auto;
}
.md-list li .sdtl{
  float: left;
  width: 36%;
  color: #fff;
  margin-right: 2%;
}
.md-list li .sdtl table{
  margin-bottom: 20px;
  table-layout: fixed;
}
.md-list li .sdtl table th {
  padding: 5px 0;
}
.md-list li .sdtl table th p{
  padding: 5px;
  line-height: 1;
  background-color: #fff;
  color: #2cb2a9;
  width: 64px;
}
@media all and (-ms-high-contrast: none){
  .md-list li .sdtl table th p{
    padding: 7px 5px 2px;
  }
}
.md-list li.cl-pink .sdtl table th p{
  color: #ea70a1;
}
.md-list li .sdtl table td {
  padding-left: 20px;
  line-height: 1.5;
}
.md-list li .sdtl table th span{
  display: inline-block;
  width: 32px;
}
.md-list li .ssche{
  float: left;
  width: 28%;
}
.md-list li .ssche img{
  width: 100%;
  height: auto;
}
.md-list li a{
  color: #fff;
}
.md-list li .surl,.md-list li .setc{
  line-height: 1.5;
  font-size: 13px;
}
@media screen and (max-width: 768px){
  .catettl img{
    width: 400px;
  }
  #container {
    width: 90%;
  }
  .sc-list {
    width: 100%;
    margin: 30px auto 80px;
  }
  .sc-list li {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .sc-list li .simg {
    width: 100%;
    height: 450px;
  }
  .sc-list .sdtl .sttl {
    font-size: 40px;
    margin: 10px 0;
  }
  .sc-list .sdtl .skind, .sc-list .sdtl table {
    font-size: 28px;
  }
  .sc-list .sdtl table th,.sc-list .sdtl table td{
    padding-right: 10px;
    padding-bottom: 10px;
  }

  /* medical 20181030
  ===========================*/
  .md-list li .simg {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .md-list li .sdtl {
    float: left;
    width: 54%;
    color: #fff;
    margin-right: 2%;
  }
  .md-list li .ssche {
    float: left;
    width: 44%;
  }
  .md-list li .sttl {
    font-size: 24px;
  }
  .md-list li .sdtl table{
    font-size: 20px;
  }
  .md-list li .sdtl table th p {
    width: 80px;
  }
  .md-list li .surl, .md-list li .setc {
    font-size: 20px;
  }

}
